/**** home page ****/
/*
div.container 
{
    width: 100%;
    border: 1px solid gray;
}*/

header, footer 
{
    padding: 1em;
    color: white;
    background-color: #041E3F;
    clear: left;
    text-align: center;
}

  
/*article 
{
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}*/
    
ul 
{
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
   /* border: 1px solid #ccc; */
    background-color: #041E3F;
} 

li 
{
    float: left;
}

li a {
    display: block;
    color: white;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-decoration: none;
}
    
li a:hover {
    background-color: #ddd;
    text-decoration: none;

}
    
.active {
    background-color: #ccc;
}
  
/*
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
} */

.columnhome 
{
    float: center;
    width: 93.33%;
}
.rowhome
{
    margin-right: -15px;
    margin-left: 0px;
}

.row:after 
{
    content: "";
    display: block;
    clear: both;
    

}


@media (max-width: 6000px) 
{
    .column 
    {
        width: 100%;
    }
}




/**** Members page ****/
.column 
{
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 24px;
}



.card 
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container 
{
    width: inherit;
    padding: 0 10px;
    text-align: left;
    margin-left: -1px;

}

.container::after, .row::after 
{
    content: "";
    clear: both;
    display: table;
}

.title 
{
    color: grey;
}

.member-link:link
{
    margin: -px;
    border: none;
    outline: 0;
    display: inline-block;
    
    padding-top: 7px;
    color: white;
    background-color: #041E3F;
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none
}

.member-link:visited
{
    margin: -10px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: left;
    cursor: pointer;
    width: 100%;
    text-decoration: none
}

.member-link:hover 
{
    background-color: #555;
}
@media (max-width: 100px) 
{
    .column {
        width: 50%;
        display: block;
  }
}
/*Remove outline when done with placeholders*/
.outline {
    padding: 0px;
    border: white 2px solid;
}
@media screen and (max-width: 480px) {
    .m-title-content {
        font-size: 20px;
    }
}







/*** Picture Carousel***/

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container 
{
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: #036;
  font-weight: bold;
  font-size: 18px;
  transition: 0.7s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover 
{
  background-color: whitesmoke;
}

/* Caption text */
.text 
{
  color: #041E3F;
  font-size: 20px;
  padding: 5px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext 
{
  color: #041E3F;
  font-size: 16px;
  padding: 5px 12px;
  position: absolute;
  top: 0;
}



/* Fading animation */
.fade 
{
  opacity: 1;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.25s;
  animation-name: fade;
  animation-duration: 1.25s;
}

@-webkit-keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}